@{
  ViewData["Title"] = "Home Page";
}
<html>
<head>
<title>Hello World</title>
</head>
<body>
<h1>Hello World</h1>
<div>
  <h2>StockQuote</h2>
  <div>
    Symbol: @Model.Symbol<br/>
    Price: $@Model.Price<br/>
  </div>
</div>

</body>
</html>
